<section class="info-banner about" style="background-image: url('images/b.jpg');">
  <div class="overlay">
    <div class="content-wrap">
      <div class="content">
          <div class="title">
              Services
          </div>
      </div>
  </div>
  </div>
</section>

<section class="expertise">
  <div class="container">
      <div class="title">Areas of Practice</div>
      <div class="caption">
          Proin gravida nibh vel velit auctor aenean sollicitudin, lorem quis bibendum aucto 
          Proin gravida nibh vel velit auctor aenean
      </div>
      <div class="content-wrap">
          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e1.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Banking Law</div>
                      <div class="caption-subtitle">Criminal Justice</div>
                  </div>
              </a>
          </div>

          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e2.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Health Law</div>
                      <div class="caption-subtitle">Traffic Tickets</div>
                  </div>
              </a>
          </div>

          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e3.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Real Estate Law</div>
                      <div class="caption-subtitle">Bankruptcy / Transactions</div>
                  </div>
              </a>
          </div>
          
          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e4.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Capital Markets Law</div>
                      <div class="caption-subtitle">Criminal Justice</div>
                  </div>
              </a>
          </div>

          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e5.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Corporate Law</div>
                      <div class="caption-subtitle">Criminal Justice</div>
                  </div>
              </a>
          </div>

          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e6.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Tax Law</div>
                      <div class="caption-subtitle">Transaction</div>
                  </div>
              </a>
          </div>

          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e7.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Common Law</div>
                      <div class="caption-subtitle">Traffic Ticket</div>
                  </div>
              </a>
          </div>

          <div class="content">
              <a href="">
                  <div class="image" style="background-image: url('images/e8.jpg');"></div>
                  <div class="caption">
                      <div class="caption-title">Labout Law</div>
                      <div class="caption-subtitle">Traffic Ticket</div>
                  </div>
              </a>
          </div>

      </div>
  </div>
</section>

<section class="info">
  <div class="container">
    <div class="title">More services info</div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, 
      nostrum obcaecati? Harum, vero dolorem similique magnam laborum eligendi 
      voluptates explicabo rerum cum exercitationem modi qui accusamus 
      placeat debitis voluptatum fugiat?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, 
      nostrum obcaecati? Harum, vero dolorem similique magnam laborum eligendi 
      voluptates explicabo rerum cum exercitationem modi qui accusamus 
      placeat debitis voluptatum fugiat?
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, 
      nostrum obcaecati? Harum, vero dolorem similique magnam laborum 
      eligendi voluptates explicabo rerum cum exercitationem modi qui accusamus 
      placeat debitis voluptatum fugiat?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, 
      nostrum obcaecati? Harum, vero dolorem similique magnam laborum eligendi 
      voluptates explicabo rerum cum exercitationem modi qui accusamus 
      placeat debitis voluptatum fugiat?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, 
      nostrum obcaecati? Harum, vero dolorem similique magnam laborum eligendi 
      voluptates explicabo rerum cum exercitationem modi qui accusamus 
      placeat debitis voluptatum fugiat?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, 
      nostrum obcaecati? Harum, vero dolorem similique magnam laborum eligendi 
      voluptates explicabo rerum cum exercitationem modi qui accusamus 
      placeat debitis voluptatum fugiat?
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, nostrum obcaecati? Harum, vero dolorem similique magnam laborum eligendi voluptates explicabo rerum cum exercitationem modi qui accusamus placeat debitis voluptatum fugiat?</p>
  </div>
</section>